<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>JGLH7HX44Y.wtf.uhoh.blackmail</string>
	<key>com.apple.developer.team-identifier</key>
	<string>JGLH7HX44Y</string>
	<key>get-task-allow</key>
	<false/>
	<key>keychain-access-groups</key>
	<array>
		<string>JGLH7HX44Y.wtf.uhoh.blackmail</string>
		<string>JGLH7HX44Y.wtf.uhoh.blackmail.shared</string>
	</array>
</dict>
</plist>
